# Dependencies
node_modules/

# Environment files
.env
.env.local
.env.*.local

# Build output
dist/
build/

# Logs
logs/
*.log
npm-debug.log*

# OS / Editor files
.DS_Store
.vscode/
.idea/

# Docker volumes / overrides (optional)
docker-data/

# PNPM lock file (if using PNPM)
pnpm-lock.yaml

src/database/src/generated/prisma
/src/generated/prisma
/src/database/generated